AppSettings__ConnectionStrings__DefaultConnection=Server=localhost;Database=PuyaqDb;Trusted_Connection=True;TrustServerCertificate=True;
AppSettings__Jwt__Issuer=PUYAQ
AppSettings__Jwt__Audience=PUYAQ.APP
AppSettings__Jwt__Key=CAMBIAR-POR-UNA-CLAVE-SECRETA-DE-AL-MENOS-32-BYTES
AppSettings__Jwt__AccessTokenMinutes=60
AppSettings__Jwt__RefreshTokenDays=30
